<h1 class="text-center mb-3">{{ title }}</h1>
<a href="#!/employee/add">
    <button  class="btn btn-success">Thêm nhân viên</button>
</a>
<table class=" mt-3 table table-striped table-hover text-center table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Email</th>
            <th scope="col">Chức vụ</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in listNhanVien">
            <th> {{ $index + 1 }} </th>
            <th> {{ item.ho_ten }} </th>
            <th> {{ item.sdt }} </th>
            <th> {{ item.email }} </th>
            <th> {{ item.chuc_vu }} </th>
            <th> {{ item.ngay_sinh | date: 'dd/MM/yyyy' }} </th>
            <th>
                <a href="#!/detail/employee/{{ item.id }}">
                    <button class="btn btn-warning" type="button">Detail</button>
                </a>
                <button class="btn btn-outline-danger" type="button" ng-click="delete(item.id)">Delete</button>
            </th>
        </tr>
    </tbody>
</table>

